<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    src="https://s2.glbimg.com/Gf9gOeG0rnZMLpjctyVFXuycDXw=/620x430/e.glbimg.com/og/ed/f/original/2022/01/27/loja_tim_metaverso_criptovoxels_2.png"
  ></ion-img>

  <ion-list>
    <ion-item>
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Produtos de alta qualidade</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Ampla variedade de produtos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Entrega rápida e segura</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Preços competitivos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Garantia de qualidade</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
